<div class="text-center">
  <h2>{{posts.title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{posts.contents}}</p>
  <p>Created by {{posts.user.name}}</p>
  <p>Posted on: {{format_date posts.date_posted}}</p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
